html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background: var(--background);
  background-blend-mode: var(--background-blend-mode);
  background-image: var(--background-image);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  justify-content: center;
  overflow: hidden;
  transition:
    background 0.5s,
    box-shadow 0.5s;
}

body[data-loading] {
  display: none;
}

body.zen:not(.screensaver) #time-clock,
body.zen:not(.screensaver) footer #menu {
  display: none !important;
}

body.zen:not(.screensaver) #exit-zen {
  display: block;
}

body:not(.show-time) #time-clock {
  display: none;
}

#clock,
#fuzzy-clock,
#flex-clock {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding: .7rem .5rem;
  font-family: var(--override-clock-font-family, var(--clock-font-family));
  line-height: var(--clock-line-height, 1);
  transition: all .5s;
  font-weight: var(--clock-font-weight, normal);
  border-radius: 0.5rem;
}

#flex-clock {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  font-size: 3.5vw;
  padding: .7rem;
}

#flex-clock .row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5px;
}

#clock {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  row-gap: 5px;
  font-size: 3vmin;
  max-width: 80vw;
}

body.loading #clock,
body.loading #clock .char {
  transition: none;
}

.char {
  padding: 2vmin;
  text-align: center;
  color: color-mix(in srgb, var(--font-color), transparent 80%);
  transition: opacity 1s, color .5s, background .5s, border-radius .5s;
}

#flex-clock .row .word {
  padding: .5vw 1vw;
  color: color-mix(in srgb, var(--font-color), transparent 80%);
  transition: opacity 1s, color .5s, background .5s, border-radius .5s;
}

.char.active,
#flex-clock .row .word.active {
  color: var(--accent-color);
}

.char.apostrophe:after {
  content: '’';
  position: absolute;
}

#clock.loading {
  transition: none;
}

a,
a:visited {
  color: var(--accent-color);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232f2e2c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid color-mix(in srgb, var(--font-color), transparent 20%);
  border-radius: 0.25rem;
  color: var(--font-color);
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5;
  max-height: 30px;
  padding: 0.25rem 2rem 0.25rem 0.5rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

[data-theme*='dark'] select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23a3a29a' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.text-nowrap {
  white-space: nowrap;
}

.input-group {
  display: inline-flex;
}

.input-group > * {
  border-radius: 0;
  margin-left: -1px;
}

.input-group > *:first-child {
  border-end-start-radius: 0.25rem;
  border-start-start-radius: 0.25rem;
}

.input-group > *:last-child {
  border-end-end-radius: 0.25rem;
  border-start-end-radius: 0.25rem;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: var(--font-color);
  border: var(--font-color) solid 1px;
  color: var(--background);
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--background);
  border: 1px solid color-mix(in srgb, var(--font-color), transparent 20%);
  border-radius: 0.25rem;
  color: var(--font-color);
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.5;
  max-height: 30px;
  padding: 0.25rem 0.5rem;
  transition:
    box-shadow 0.15s ease-in-out;
  white-space: nowrap;
}

button svg {
  transform: translateY(2px);
}

button span {
  margin-inline-start: 0.2rem;
}

button.active,
button.active:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--background);
  z-index: 1;
}

button:hover {
  background-color: color-mix(in srgb, var(--accent-color), var(--background) 80%);
}

select:focus,
button:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.2rem color-mix(in srgb, var(--accent-color), transparent 75%) !important;
  outline: 0;
  z-index: 1;
}

button:focus.active {
  background-color: var(--accent-color);
}

button:disabled {
  opacity: 0.7;
}

#time-clock {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.85rem;
  color: var(--font-color);
  font-weight: bold;
  left: 0;
}

#exit-zen {
  border-color: transparent;
  display: none;
  max-height: none;
  opacity: 0.4;
  padding: 0.2rem;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-bottom: 1rem;
  transition: opacity .5s;
}

#exit-zen:hover {
  opacity: 1;
}


#exit-zen:focus {
  opacity: 1;
  border-color: var(--font-color);
}

.hidden {
  opacity: 0;
}

footer {
  bottom: 0;
  display: flex;
  font-size: 0.85rem;
  justify-content: center;
  left: 0;
  line-height: 1.5;
  padding: 0 1rem 1rem;
  position: fixed;
  right: 0;
  z-index: 2;
  transition:
    opacity 0.5s,
    background-color 0.5s;
}

#menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  transition: opacity 0.5s;
}

#settings {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}

#contact {
  display: inline-block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

@media only screen and (max-width: 500px) {
  #fuzzy-clock {
    max-width: unset;
  }
}

@media screen and (min-width: 1000px) {
  #flex-clock {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 750px) {
  #exit-zen {
    font-size: 1.7rem;
  }

  #share-signature {
    font-size: 0.8rem;
  }

  footer {
    font-size: 0.8rem;
  }

  footer select {
    background-position: right 0.4rem center;
    background-size: 10px;
    font-size: 0.8rem;
    padding: 0.15rem 1.4rem 0.15rem 0.35rem;
    width: 4.5rem;
  }

  footer button {
    font-size: 0.8rem;
    padding: 0.1rem 0.35rem;
  }

  .input-group-text {
    padding: 0 0.5rem;
  }

  #theme,
  #made-by {
    display: none;
  }
}
